body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --semibold-12: Mulish;
  --font-lato: Lato;

  /* font sizes */
  --semibold-12-size: 12px;
  --font-size-11xl: 30px;
  --bold-14-size: 14px;

  /* Colors */
  --light-white: #fff;
  --main-blue: #3c64b1;
  --color-cornflowerblue-100: rgba(60, 100, 177, 0.1);
  --light-black: #373f41;
  --light-gray: #c3cbcd;
  --color-whitesmoke: #ede8e8;

  /* Paddings */
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-11xl: 30px;
}
